{% extends 'base/base.html' %}
{% load static %}
{% block title %}Admin Login{% endblock %}
 {% block banner %}
<img
  src="{% static 'img/banner1.jpeg' %}"
  class="w-full h-full inline-block rounded-3xl"
  alt=""
/>{% endblock %}

{% block form %}
<h1 class="text-center font-bold mb-[10px] text-[min(10vh,30px)]">
  Admin login
</h1>
<form
  action=""
  method="POST"
  class="flex justify-center flex-col w-full items-stretch"
>
  {% csrf_token %}
  <label for="username" class="mb-[3px] font-[600]">username or email </label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder="Enter your username or password"
    class="input_fields"
  />

  <label for="password" class="mb-[3px] font-[600]">password </label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Enter your password"
    class="input_fields"
  />

  <button type="submit" class="submit_btn">Login</button>
</form>

{% endblock %}
