{% extends 'base/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
 {% block banner %}
<img
  src="{% static 'img/ball.jpeg' %}"
  class="w-full h-full inline-block rounded-3xl"
  alt=""
/>{% endblock %}

{% block form %}
<h1 class="text-center font-bold mb-[10px] text-[min(10vh,30px)]">
  Forgot Password?
</h1>
<p class="text-[12px] text-center w-[80%] m-auto text-[#094e37] mb-5">Don't worry! Enter your registered email address and we'll
send you a link to reset your password.</p>
<form
  action=""
  method="POST"
  class="flex justify-center flex-col w-full items-stretch"
>
  {% csrf_token %}
  <label for="email" class="mb-[3px] font-[600] text-[#292929] text-sm">Enter your registered email address </label>
  <input
    type="text"
    id="email"
    name="email"
    placeholder="Enter your email"
    class="input_fields"
  />


  <button type="submit" class="submit_btn">Reset Password</button>
</form>
<h6 class="text-center text-[12px] mt-3 mb-2 pr-2">
  <a href="{% url 'landing' %}" class="font-bold pl-1 text-[#10b981] hover:text-green-800">
    <span class="font-black">←</span> Back to Login
  </a>
</h6>

<p class="text-[11px] text-center w-[80%] m-auto text-[#585858d5] leading-3.5 ">If you dont receive an email within 5 minutes, check your spam folder
or contact support.</p>
{% endblock %}
